@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    box-sizing: inherit;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}
